/*   a c c e s s - c o n t r o l   */
.access_control_indent { padding-left:30px; }
.access_control_frame { width:350px; padding-left:20px; border:solid 1px grey; }
.access_control_error { color:red; font-weight:bold; font-size:smaller; }
.access_control_success { padding-left:30px; color:blue; font-weight:bold; }
.access_control_width { width:200px; }
.access_control_protected { color:red; font-weight:bold; }
